/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
body{line-height:1}
del{text-decoration:line-through}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
input,select{vertical-align:middle}
li{list-style:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
nav ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}

/* -------------------------------
   Custom CSS
-------------------------------- */

/* ---- base ---- */

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

body {
	background: url(../img/general/bg.svg) no-repeat center center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	color: #FFF !important;
	font-family: 'Montserrat', sans-serif !important;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
	border: 0;
	height: 1px;
	margin: 0 150px;
}

.container-fluid {
	color: #fff !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.hvh-25 {
	height: 25vh;
	width: 100%;
}

.hvh-50 {
	height: 50vh;
	width: 100%;
}

.hvh-60 {
	height: 60vh;
	width: 100%;
}

.hvh-75 {
	height: 75vh;
	width: 100%;
}

.hvh-100 {
	height: 100vh;
	width: 100%;
}

/* -------------------------------
	Navbar (Thx to codyhouse.co)
-------------------------------- */

.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #00011F;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media only screen and (min-width: 992px) {
  .cd-auto-hide-header {
    height: 80px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #00011F;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #FFF;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  border-top: 1px solid #f2f2f2;
  color: #FFF;
  display: block;
  font-size: 1.1rem;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: #16A5F4;
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
  	show primary nav - mobile only 
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 992px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

/* -------------------------------
	Text Animation
-------------------------------- */

.cd-intro {
  margin: 1em auto;
}

.cd-headline {
  font-size: 1rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 1.8rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 992px) {
  .cd-headline {
    font-size: 3rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* ---- clip text animation ---- */

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}

/* -------------------------------
	Main content
-------------------------------- */

.cd-main-content {
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .cd-main-content {
    padding-top: 60px;
  }
}

/* -------------------------------
	Custom content
-------------------------------- */

#hero {
	height: calc(100vh - 60px);
	background: url(../img/general/casino-uno-blur.jpg) no-repeat center center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

#promociones {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

#logo {
	height: 23%;
	margin-bottom: 20px;
	width: 23%;
}

.fade-neon {
	color: #ebffff;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px rgb(22,165,255), 0 0 80px rgb(22,165,255);
}

.btn-outline {
	background-color: #212121;
	-webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 7px rgb(22,165,255), 0 0 20px rgb(22,165,255);
	        box-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 7px rgb(22,165,255), 0 0 20px rgb(22,165,255);
	color: rgb(22,165,255) !important;
	margin-top: 30px;
	opacity: 1;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	width: 40%;
}

.btn-outline:hover {
	background-color: #161616 !important;
	opacity: 1;
}

.text-after::after {
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 7px #f52828, 0 0 20px #38eeff !important;
	        box-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 7px #f52828, 0 0 20px #38eeff !important;
	content: "";
	display: block;
	height: 4px;
	margin: 10px auto 25px auto;
	width: 100px;
}

.subtitle {
	font-size: 2.6rem;
}

.carousel-caption-sub {
	font-weight: bold;
	background-color: rgba(33, 33, 33, 0.6);
}

#carouselIndicators {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 5px #fff, 0 0 7px rgb(22,165,255), 0 0 20px rgb(22,165,255);
}

#map {
  height: 600px;
  width: 100%;
}

.zero-padding {
	padding: 0 !important;
}

.footer-links {
  margin-top: 15px;
}

#footer-social-links > a, .footer-links > a {
  color: #fff;
}

#footer-social-links > a:hover, .footer-links > a:hover {
  color: #16A5F4;
  text-decoration: none;
}

#footer-social-links > a:last-child {
  margin-left: 15px;
}

.form-group label {
	color: #212121;
}
/* -------------------------------
	General media queries
-------------------------------- */

@media (min-width: 320px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
	body::-webkit-scrollbar {
		width: 0.9em;
	}

	body::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}

	body::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
}
