/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
body{line-height:1}
del{text-decoration:line-through}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
input,select{vertical-align:middle}
li{list-style:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
nav ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}

/* =============================================================================
   Custom CSS
   ========================================================================== */

/* ---- base ---- */

html, body {
	height:100%;
	width:100%;
	overflow-x: hidden;
}

body {
	background: rgb(36,36,36);
	background-image: linear-gradient(124deg, rgba(36,36,36,1) 0%, rgba(33,33,33,1) 48%, rgba(36,36,36,1) 100%);
	background-image: -o-linear-gradient(124deg, rgba(36,36,36,1) 0%, rgba(33,33,33,1) 48%, rgba(36,36,36,1) 100%);
	background-image: -webkit-linear-gradient(124deg, rgba(36,36,36,1) 0%, rgba(33,33,33,1) 48%, rgba(36,36,36,1) 100%);
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
    margin: 0 150px;
}

.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* ---- navbar ---- */

.navbar-padding {
	padding-left: 170px !important;
	padding-right: 170px !important;
}

#mainNav {
	background-color: #151c29;
	border-color: rgba(34, 34, 34, 0.05);
	font-weight: 400;
	letter-spacing: 1px;
		-moz-transition: all .35s;
	-webkit-transition: all .35s;
			transition: all .35s;
	width: 100%;
	z-index: 999;
}

#mainNav .navbar-brand {
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
	color: #fcbd20;
}

#mainNav .navbar-toggler {
	color: white;
	font-size: 12px;
	padding: 8px 10px;
}

#mainNav .navbar-nav > li > a {
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
	background-color: transparent;
	color: #fdcc52 !important;
}

#mainNav .navbar-nav > li > a.active:hover {
	background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
	color: white;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
	color: #fdcc52;
}

@media (min-width: 992px) {
	#mainNav {
		background-color: transparent;
		border-color: transparent;
	}

	#mainNav .navbar-brand {
		color: fade(white, 70%);
	}

	#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
		color: white;
	}

	#mainNav .navbar-nav > li > a,
	#mainNav .navbar-nav > li > a:focus {
		color: rgba(255, 255, 255, 0.7);
	}

	#mainNav .navbar-nav > li > a:hover,
	#mainNav .navbar-nav > li > a:focus:hover {
		color: #fdcc52;
	}

	#mainNav.navbar-shrink {
		background-color: #151c29;
		border-color: rgba(34, 34, 34, 0.1);
	}

	#mainNav.navbar-shrink .navbar-brand {
		color: white;
	}

	#mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
		color: #fdcc52;
	}

	#mainNav.navbar-shrink .navbar-nav > li > a,
	#mainNav.navbar-shrink .navbar-nav > li > a:focus {
		color: white;
	}

	#mainNav.navbar-shrink .navbar-nav > li > a:hover,
	#mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
		color: #fdcc52;
	}
}

/* ---- landing ---- */

#landing {
	height: 100vh;
	width: 100%;
	margin: 0 60px;
}

.parent-container {
	display: table;
}

.child-container {
	display: table-cell;
	vertical-align: middle;
	padding-left: 100px;
}

.svg-fluid {
	height: 250px;
	width: 250px;
	margin-bottom: 10px;
}

.highlight {
	color: white;
	font-size: 3.38em;
	text-transform: uppercase;
}

.highlight::after {
	content: "";
    background: rgb(240, 193, 52);
    display: block;
    height: 20px;
	width: 880px;
	margin-top: 10px;
}

#landing-subtitle {
	color: white;
	margin-left: 60px;
}

#landing-img {
	box-shadow: 12px 12px #0f0f0f;
}

#promociones {
	height: 50vh;
	width: 100%;
	margin: 0 60px;
}

#promociones-title {
	color: white;
	font-size: 4.5em;
	margin-top: -100px;
    position: absolute;
	text-transform: uppercase;
    transform-origin: bottom;
    transform: rotate(270deg);
}

#promociones-title::after {
	content: "";
    background: rgb(240, 193, 52);
    display: block;
    height: 20px;
	width: 400px;
}

#promociones-img {
	position: absolute;
	left: -350px;
	top: -100px;
	width: 100%;
}

#promociones-text {
	color: white;
	position: absolute;
	left: -340px;
	top: 180px;
	text-align: center;
	width: 100%;
}

.btn.btn-warning {
	position: absolute;
	font-weight: bold;
	left: -95px;
	top: 210px;
	margin-top: 10px;
	width: 50%;
}
